.navbar {
  .nav-items {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .active {
    background-color: #ff9674;
  }




  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 18rem;
    }
  }

}
