<mat-toolbar color="primary"
             class="navbar">

  <div class="nav-items">

    <button mat-button
            [routerLink]="['/ranking']"
            routerLinkActive="active"> Global Ranking </button>
    <button mat-button
            [routerLink]="['/pilot-races']"
            routerLinkActive="active"> Pilot Races </button>
    <button mat-button
            [routerLink]="['/races']"
            routerLinkActive="active"> Races </button>
  </div>

  <div class="logo-container"
       [routerLink]="['/']">
    <img class="logo"
         src="assets/logo.png">
  </div>
  <div class="nav-items"></div>
</mat-toolbar>
