// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$devaway-racing-services-primary: mat-palette($mat-deep-orange);
$devaway-racing-services-accent: mat-palette($mat-orange);

$devaway-racing-services-warn: mat-palette($mat-red);


$devaway-racing-services-theme: mat-light-theme((color: (primary: $devaway-racing-services-primary,
      accent: $devaway-racing-services-accent,
      warn: $devaway-racing-services-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($devaway-racing-services-theme);
@import 'variables';
@import 'breackpoints';

/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background:
    linear-gradient(90deg, $bg-color ($bg-dot-space - $bg-dot-size), transparent 1%) center,
    linear-gradient($bg-color ($bg-dot-space - $bg-dot-size), transparent 1%) center,
    $bg-dot-color;
  background-size: $bg-dot-space $bg-dot-space;
}

h1.title {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

table.compact {
  tr.mat-row {
    height: 35px;
  }
}

.mat-paginator-container {
  min-height: 40px;
}

.container {

  @media screen and (min-width: $desktop) {
    width: 1344px;
  }

  @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 1152px;
  }

  @media screen and (min-width: $min-mobile) and (max-width: $max-mobile) {
    width: 960px;
  }

  width: 100%;
  margin: auto;
}
