.container {

  // TODO move to variables breackpoints
  @media screen and (min-width: 1408px) {
    width: 1344px;
  }

  @media screen and (min-width: 1216px) and (max-width: 1407px) {
    width: 1152px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1215px) {
    width: 960px;
  }

  width: 100%;
  margin: auto;
}
