mat-progress-bar {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 1000;
}

.scroll-status {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
