// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$devaway-racing-services-primary: mat-palette($mat-deep-orange);
$devaway-racing-services-accent: mat-palette($mat-pink, '#ff3300', '#ff6e38', '#c30000', $light-primary-text);

$devaway-racing-services-warn: mat-palette($mat-red);


$devaway-racing-services-theme: mat-light-theme((color: (primary: $devaway-racing-services-primary,
      accent: $devaway-racing-services-accent,
      warn: $devaway-racing-services-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($devaway-racing-services-theme);
@import 'variables';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background:
    linear-gradient(90deg, $bg-color ($bg-dot-space - $bg-dot-size), transparent 1%) center,
    linear-gradient($bg-color ($bg-dot-space - $bg-dot-size), transparent 1%) center,
    $bg-dot-color;
  background-size: $bg-dot-space $bg-dot-space;
}
