<mat-card class="card">
  <mat-card-header>


    <!-- <h1>{{ rankingPosition }}</h1> -->
    <div mat-card-avatar
         class="driver-avatar">
      <div *ngIf="rankingPosition">
        <span [ngSwitch]="rankingPosition">
          <img *ngSwitchCase="1"
               src="/assets/trophy/gold.png" />

          <img *ngSwitchCase="2"
               src="/assets/trophy/silver.png" />
          <img *ngSwitchCase="3"
               src="/assets/trophy/bronze.png" />


          <h1 *ngSwitchDefault>{{ rankingPosition }}</h1>


        </span>

      </div>
      <img class="avatar"
           src="{{ driver?.picture }}"
           [alt]="'driver '+driver?.name"
           srcset="">
    </div>
    <mat-card-title>{{ driver?.name }}</mat-card-title>
    <mat-card-subtitle>Team: {{ driver?.team }}</mat-card-subtitle>
    <mat-card-subtitle>Age: {{ driver?.age }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
